@use '../utilities';

.button {
    --btn-padding-x:    #{utilities.$btn-padding-x};
    --btn-padding-y:    #{utilities.$btn-padding-y};
    --btn-color-white:  #{utilities.$white};
    --btn-bg:           #{utilities.$blue-500};
    --btn-hover-bg:     #{utilities.$blue-600};
    --btn-fz:           #{utilities.$text-4};
    --btn-radius:       #{utilities.$rounded-3};

    padding: var(--btn-padding-y) var(--btn-padding-x);
    background-color: var(--btn-bg);
    color: var(--btn-color-white);
    font-size: var(--btn-fz);
    border-radius: var(--btn-radius);
    border: none;
    cursor: pointer;
    transition: background-color .15s ease;
    display: inline-block;

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-hover-bg);
        }
    }
}
