@use '../utilities/variables.scss';

.input-floating {
    position: relative;
    width: max-content;
    height: max-content;
    width: 100%;
}

.error-feedback {
    margin-top: .7rem;
    font-weight: 400;
    font-size: variables.$text-6;
    color: variables.$red-500;
}

.input {
    --input-padding-x:          #{variables.$input-padding-x};
    --input-padding-y:          #{variables.$input-padding-y};
    --input-border-width:       #{variables.$border-width};
    --input-border-color:       #{variables.$gray-600};
    --input-border-focus-color: #{variables.$blue-500};
    --input-border-error-color: #{variables.$red-500};
    --input-color:              #{variables.$black-900};
    --input-fz:                 #{variables.$text-4};

    border: none;
    outline: none;
    font-weight: 500;
    display: inline-block;
    font-size: var(--input-fz);
    padding: var(--input-padding-y) var(--input-padding-x);
    border-bottom: var(--input-border-width) solid var(--input-border-color);
    line-height: 1.2;
    width: inherit;

    &::placeholder {
        color: transparent;
    }

    & + label {
        --label-color:              #{variables.$gray-400};
        --label-fz:                 #{variables.$text-4};
        
        font-size: var(--label-fz);
        color: var(--label-color);
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 0;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        transform: translateY(-50%) scale(1) translateX(0);
        transform-origin: 0 0;
    
        transition: transform .15s ease, font-size .15s ease;
    }

    &:focus, &:not(:placeholder-shown) {
        border-color: var(--input-border-focus-color);
    }

    &:focus + label {
        transform: translateY(-175%) scale(.85);
    }

    &:not(:placeholder-shown) + label {
        transform: translateY(-175%) scale(.85);
    }
}

.input-group:has(.input-group > .error-feedback) .input-group {
    display: none;
}
