@use "../utilities";

.modal {
    inset: 0;
    position: fixed;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0%);
    cursor: pointer;

    &__wrapper {
        position: relative;
        margin: 0;
        border: none;
        border-radius: utilities.$rounded-3;
        background-color: utilities.$white;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        padding: 3rem;
        cursor: default;
    }

    &--active {
        opacity: 1;
        overflow: visible;
        pointer-events: all;
        background-color: rgb(0 0 0 / 50%);
    }

    &--active .modal__wrapper {
        opacity: 1;
        overflow: visible;
        pointer-events: all;
    }

    &__close-button {
        position: absolute;
        background-color: transparent;
        border: none;
        padding: .5rem;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        transform: scale(.75);
        opacity: 1;

        @media (hover: hover) {
            &:hover {
                opacity: utilities.$opacity;
            }
        }
    }
}
