@use "../utilities";

.profile {
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);

    &__aside { 
        height: inherit;
        width: 6.4rem;
        background-color: utilities.$gray-50;
        border-right: utilities.$gray-100 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (hover: hover) {
            &:hover .profile__aside-link-back {
                background-color: utilities.$blue-600;
            }
        }
    }

    &__aside-link-back {
        width: 2.8rem;
        height: 2.8rem;
        background-color: utilities.$blue-500;
        border-radius: utilities.$rounded-5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .15s ease;

        &::after{
            content: "";
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: 1000;
            cursor: pointer;
        }
    }

    &__form {
        flex-direction: column;
        row-gap: 6rem;
        padding: 6.3rem;
    }

    &__form-header {
    }

    &__form-header-avatar-wrapper {
        width: 13rem;
        height: 13rem;
        border-radius: utilities.$rounded-6;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .1s ease;
        overflow: hidden;
        
        @media (hover: hover) {
            &:hover {
                background-color: rgba(0, 0, 0, .5);
            }

            &:hover .profile__form-header-avatar-label {
                opacity: 1;
            }
        }
    }

    &__form-header-avatar-wrapper:has(.profile__form-header-avatar-input[readonly]) {
        pointer-events: none;
    }   

    &__form-header-avatar-plug {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &__form-header-avatar-label {
        font-weight: 500;
        color: utilities.$white;
        width: 100%;
        max-width: 6.4rem;
        text-align: center;
        pointer-events: none;
        transition: opacity .1s ease;
        opacity: 0;
    }

    &__form-header-avatar-input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    &__form-header-title {
        text-align: center;
        font-weight: 600;
        margin-top: 2.1rem;
    }

    &__form-list {
        width: 100%;
        max-width: 51rem;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
    }

    &__form-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        padding-block: 1rem;
        border-bottom: utilities.$gray-100 1px solid;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__form-item-label {
        font-weight: 500;
    }

    &__form-item-input { 
        border: none;
        outline: none;
        color: utilities.$gray-400;
        font-weight: 500;
    }

    &__form-submit {
        color: utilities.$blue-500;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__form-password-link {
        color: utilities.$blue-500;
    }

    &__form-logout-link {
        color: utilities.$red-500;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__form-list-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        align-items: center;
    }

    &__form-item-button {
        padding: 1.2rem 10rem;
    }
}
