<div class="modal modal-image {{#if isActive}} modal--active {{/if}}" id="modal-image">
  <div class="modal__wrapper modal-image__inner">
    <img class="modal-image__image" loading="lazy" src="{{imgSource}}" alt="image">
  </div>
</div>
