.user-add-modal {
    &__form {
        width: 34rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 6rem;
    }

    &__group {
        padding: 0;
        margin-bottom: 3.3rem;
    }

    &__button {
        width: 100%;
    }
}
