<div class="modal user-add-modal {{#if isActive}} modal--active {{/if}}" id="modal-add-user">
  <div class="user-add-modal__inner modal__wrapper">
    {{{ Button
      onClick=handleCloseAddModal
      imgSource="/icons/close.svg"
      class="modal__close-button"
      title="Закрыть"
    }}}

    <form class="user-add-modal__form">
      <h2 class="heading-6 user-add-modal__title">Добавить пользователей</h2>
      <fieldset class="user-add-modal__group">
        {{{ SearchInput
          value=search
          onChange=handleInputSearch
          placeholder="Поиск"
        }}}
      </fieldset>
      <div class="user-add-modal__list">
         <div class="text-5 user-add-modal__empty
          {{#ifCond search.length '==' 0}}
            {{#ifCond searchedUserForAdd.length '==' 0}} --is-shown {{/ifCond}}
          {{/ifCond}}">
          Введите в поиск логин пользователя, чтобы добавить в группу
        </div>

        {{{UsersAddList
          usersSearchList=searchedUserForAdd
        }}}
      </div>
      {{{ Button
        class="button button-primary user-add-modal__button"
        type="submit"
        onClick=onSubmit
        label="Добавить"
      }}}
    </form>
  </div>
</div>

