<div class="modal user-add-modal {{#if isActive}} modal--active {{/if}}" id="modal-add-user">
  <div class="user-add-modal__inner modal__wrapper">
    {{{ Button
      onClick=handleCloseModal
      imgSource="/icons/close.svg"
      class="modal__close-button"
      title="Закрыть"
    }}}

    <form class="user-add-modal__form">
      <h2 class="heading-6 user-add-modal__title">Добавить пользователей</h2>
      <fieldset class="user-add-modal__group">
        {{{ SearchInput
          value=search
          onChange=handleInputSearch
        }}}
      </fieldset>
      {{{UsersAddList
        usersSearchList=searchedUserForAdd
      }}}
      {{{ Button
          class="button button-primary user-add-modal__button"
          type="submit"
          onClick=onSubmit
          label="Добавить"
      }}}
    </form>
  </div>
</div>

