<button
    type="button"
    class="button button-primary"
    onclick="document.getElementById('modal').showModal()"
>
Открыть
</button>

<dialog class="modal" id="modal">
    <div class="modal__wrapper">
        <button onclick="event.currentTarget.closest('dialog').close()" type="button" class="modal__close-button">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">
            <path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/>
            </svg>
        </button>

        <form action="/" novalidate method="post" class="user-modal">
            <h1 class="text-3 user-modal__title">Добавить пользователя</h1>

            <fieldset class="user-modal__group">
                <div class="input-floating">
                    <input type="text" id="login" name="login" placeholder="Логин" class="input" />
                    <label for="login" class="label">Логин</label>
                </div>
            </fieldset>

            <button class="button button-primary user-modal__button" type="submit">Добавить</button>
        </form>
    </div>
</dialog>

