<section class="error">
    <h1 class="heading-1 error__title">404</h1>
    <p class="text-3 error__text">Не туда попали</p>
    <a href="/#" class="text-5 link error__link">Назад к чатам</a>
</section>