<section class="profile">
    <div class="profile__aside">
        <a href="/#" class="profile__aside-link-back" title="Вернуться назад" >
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="13" y="6.80005" width="11" height="1.6" transform="rotate(-180 13 6.80005)" fill="white"/>
            <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"/>
            </svg>
        </a>
    </div>
    <form class="container--centered profile__form">
        <fieldset class="profile__form-header">
            <div class="profile__form-header-avatar-wrapper">
                <img src="/img/plug.png" alt="Заглушка" class="profile__form-header-avatar-plug"> 
                <label class="text-4 profile__form-header-avatar-label" for="avatar">Поменять аватар</label>
                <input readonly class="profile__form-header-avatar-input" id="avatar" type="file" password="avatar" />
            </div>
        </fieldset>
        <fieldset class="profile__form-list-group">
            <ul class="profile__form-list">
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="password">Старый пароль</label>
                    <input class="text-4 profile__form-item-input" name="password" value="pochta@yandex.ru" id="password" type="password" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="password">Новый пароль</label>
                    <input class="text-4 profile__form-item-input" name="password" value="ivanivanov" id="password" type="password" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="password">Повторите новый пароль</label>
                    <input class="text-4 profile__form-item-input" password="password" value="Иван" id="password" type="password" />
                </li>
            </ul>
        </fieldset>
        <button class="button button-primary profile__form-item-button" type="submit">Сохранить</button>
    </form>
</section>