<section class="profile">
    <div class="profile__aside">
        <a href="/#" class="profile__aside-link-back" title="Вернуться назад" >
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="13" y="6.80005" width="11" height="1.6" transform="rotate(-180 13 6.80005)" fill="white"/>
            <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"/>
            </svg>
        </a>
    </div>
    <form class="container--centered profile__form">
        <fieldset class="profile__form-header">
            <div class="profile__form-header-avatar-wrapper">
                <img src="/img/plug.png" alt="Заглушка" class="profile__form-header-avatar-plug">
                <label class="text-4 profile__form-header-avatar-label" for="avatar">Поменять аватар</label>
                <input readonly class="profile__form-header-avatar-input" id="avatar" type="file" name="avatar" />
            </div>
            <h1 class="text-3 profile__form-header-title">
                Иван
            </h1>
        </fieldset>
        <fieldset class="profile__form-list-group">
            <ul class="profile__form-list">
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="email">Почта</label>
                    <input class="text-4 profile__form-item-input" readonly name="email" value="pochta@yandex.ru" id="email" type="email" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="login">Логин</label>
                    <input class="text-4 profile__form-item-input" readonly name="login" value="ivanivanov" id="login" type="text" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="first_name">Имя</label>
                    <input class="text-4 profile__form-item-input" readonly name="first_name" value="Иван" id="first_name" type="text" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="second_name">Фамилия</label>
                    <input class="text-4 profile__form-item-input" readonly name="second_name" value="Иванов" id="second_name" type="text" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="display_name">Имя в чате</label>
                    <input class="text-4 profile__form-item-input" readonly name="display_name" value="Иван" id="display_name" type="text" />
                </li>
                <li class="profile__form-item">
                    <label class="text-4 profile__form-item-label" for="phone">Телефон</label>
                    <input class="text-4 profile__form-item-input" readonly name="phone" value="+7 (909) 967 30 30" id="phone" type="phone" />
                </li>
            </ul>

            <ul class="profile__form-list">
                <li class="profile__form-item">
                    <a href="/#" class="text-4 link profile__form-submit">Изменить данные</a>
                </li>
                <li class="profile__form-item">
                    <a href="/#"  class="text-4 link profile__form-password-link">Изменить пароль</a>
                </li>
                <li class="profile__form-item">
                    <button type="button" class="text-4 link profile__form-logout-link">Выйти</button>
                </li>
            </ul>
        </fieldset>
    </form>
</section>
