<div class="modal {{#if isActive}} modal--active {{/if}}" id="modal-delete-user">
    <div class="modal__wrapper user-delete-modal__inner">
        {{{
            Button onClick=handleCloseModal
            imgSource="/icons/close.svg"
            class="modal__close-button"
            title="Закрыть"
        }}}
        <h2 class="heading-6 user-delete-modal__title">Удалить пользователя</h2>
        <p class="text-4 user-delete-modal__text">
            Вы уверены, что хотите удалить пользователя?
        </p>
        <div class="user-delete-modal__footer">
            {{{
                Button
                class="button"
                onClick=handleCloseModal
                label="Отменить"
            }}}
            {{{
                Button
                class="button user-delete-modal__button"
                onClick=handleDeleteChat
                label="Удалить"
            }}}
        </div>
    </div>
</div>
