.chat-messages-list {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem 1rem;
  height: calc(100svh - 12rem);
  height: calc(100vh - 12rem);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;

  //&__group {
  //  &:first-child {
  //    margin-top: 0;
  //  }
  //
  //  &:last-child {
  //    margin-bottom: 0;
  //  }
  //}
}
