<div class="chat-messages-list">
  {{#each messages}}
    {{{ ChatItem
      content=content
      time=time
      myId=@root.myId
      user_id=user_id
      user=user
      is_read=is_read
      file=file
    }}}
  {{/each}}
</div>
