<div class="popup-wrapper popup-attachments__button-attach-wrapper">
    <ul class="popup popup-attachments__attach-popup">
        <li class="popup-item popup-attachments__attach-item">
            {{{Button
                onClick=openModalSendMediaModal
                class="text-5 popup-button popup-attachments__button-attach-item-button"
                label="Фото или Видео"
                imgSource="/icons/photo.svg"
            }}}
        </li>
    </ul>
    {{{Button
        imgSource="/icons/attach-icon.svg"
        onClick=togglePopup
        class="button popup-attachments__button-attach"
        title="Прикрепить"
    }}}
</div>
