<button role="link" class="list-item-user__chat-user {{#if isActive }}list-item-user__chat-user--active{{/if}}">
  <div class="list-item-user__chat-user-image-plug"></div>
  <div class="list-item-user__chat-user-info">
    <div class="list-item-user__chat-user-header">
      <strong>
        <span class="list-item-user__chat-user-name">
          {{ name }}
        </span>
      </strong>
      <time class="list-item-user__chat-user-time">
        {{ time }}
      </time>
    </div>
    {{#if message}}
        <p class="text-5 list-item-user__chat-user-message">
          {{#if myself}}
            <span class="list-item-user__chat-user-message-sender">Вы:</span>
          {{/if}}
          {{ message }}
        </p>
    {{/if}}
  </div>
  {{#if unreadMessages }}
    <span class="list-item-user__chat-user-unread-messages">
      {{ unreadMessages }}
    </span>
  {{/if}}
</button>
