@use "@styles/utilities";

.chats {
    height: 100svh;
    height: 100vh;

    &__container {
        width: 100%;
        height: inherit;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 100%;
    }
}
