@use '@styles/utilities';

.user-delete-modal {
  width: 34rem;

  &__title {
    text-align: center;
    margin-bottom: 1.2rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__footer {
    display: flex;
    align-items: stretch;
    column-gap: 1rem;
  }

  &__button {
    background-color: #{utilities.$red-500};

    @media (hover: hover) {
      &:hover {
        background-color: #{utilities.$red-600};
      }
    }
  }
}
