@use '../utilities/variables';

@for $i from 1 through list.length(variables.$headings) {
    .heading-#{$i} {
        font-size: list.nth(variables.$headings, $i);
        font-style: normal;
        font-weight: 500;
        color: variables.$black-900;
    }
}

@for $i from 1 through list.length(variables.$text) {
    .text-#{$i} {
        font-size: list.nth(variables.$text, $i);
        font-style: normal;
        font-weight: 400;
        color: variables.$black-900;
    }
}
