<div class="avatar">
    <img src="{{imgSrc}}" alt="Заглушка" class="avatar__plug" />
    <label class="text-4 avatar__label" for="avatar">Поменять аватар</label>
    {{{Input
      onChange=setImg
      class="avatar__input"
      id="avatar"
      type="file"
      readonly=readonly
      name="avatar"
    }}}
</div>
