@use "@styles/utilities";

.aside {
  width: 33rem;
  border-right: utilities.$gray-100 1px solid;
  background-color: utilities.$gray-50;

  &__header {
    padding: 2.4rem 1rem 0;
  }

  &__profile-link {
    width: fit-content;
    color: utilities.$gray-500;
    font-weight: 500;
    font-size: utilities.$text-5;
    display: flex;
    line-height: 1.2;
    align-items: center;
    column-gap: .4rem;
    margin-left: auto;
    margin-bottom: 2.4rem;
  }

  &__chats {
    list-style-type: none;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
    overflow-y: auto;
    height: calc(100svh - 10.8rem);
    height: calc(100vh - 10.8rem);
  }
}
